.example-spacer {
    flex: 1 1 auto;
  }
  .content{
    padding: 6%;
    

  .points-table{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}