<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>sports_soccer</mat-icon>
  </button>
  <span>Premiere League</span>
</mat-toolbar>

<div class="detail-content">
  <div>
    <h1>Team A</h1>
    Match Played: 6 <br />
    Match won: 3 <br />
    Match tied: 1 <br />
    Match Lost: 2 <br />

    Total Points: 6
  </div>
  <div>
    <h1>Team B :</h1>
    Match Played: 6 <br />
    Match won: 3 <br />
    Match tied: 1 <br />
    Match Lost: 2 <br />

    Total Points: 6
  </div>
</div>
<button mat-raised-button color="accent" class="back-btn" >Points Table</button>