<div class="dialog-contents">
    <h1>Match 5 :</h1>
    
    <mat-form-field>
      <mat-label>Team A</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{
          state
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Team B</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{
          state
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <h1>Who won the match?</h1> 
    <div class="buttons">
    <button mat-raised-button color="accent">Team A</button>
    <button mat-raised-button color="accent">Team B</button>
    <button mat-raised-button color="accent">Match Tied</button>
    </div>
  
<div>