<div class="dialog-contents">
    <mat-form-field>
      <mat-label>Team 1</mat-label>
      <mat-select [(ngModel)]="form.value.team1">
        <mat-option *ngFor="let team of dataSource" [value]="team">{{
          team.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Team 2</mat-label>
      <mat-select [(ngModel)]="form.value.team2">
        <mat-option *ngFor="let team of dataSource" [value]="team">{{
          team.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Who won the match?</mat-label>
      <mat-select [(ngModel)]="form.value.winner">
        <mat-option [value]="form.value.team1">{{
          form.value.team1.name
        }}</mat-option>
        <mat-option [value]="form.value.team2">{{
          form.value.team2.name
        }}</mat-option>
        <mat-option value="match_tied">Match Tied</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="updateTable()"
      

    >
      Submit
    </button>
</div>
