

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/_c1_6997.img');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh ;
  }

.form-container {
  display: block;
  max-width: 300px;
  margin: auto;
  background: #306385;
  padding: 48px;
  position: absolute;
  right: 5%;
  border-radius: 16px;
  opacity: 0.7;
  mat-form-field {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}